$theme-name: "default";

$primary: "deep-red";
$accent: "amber";
$warn: "pink";
$link: "red";
$background: "grey" !default;


$dark: false !default;
$default-color: '500' !default;

$foreground: "foreground-dark" !default;
$foreground-shadow: none !default;

$base-background-color: white !default;
$base-color: rgba(0, 0, 0, 0.87) !default;
$light-contrast-color: rgba(255, 255, 255, 0.87);
