<div class="privacy">
  Squares uses Google Analytics which gathers general demographic and usage data. There is no personally identifiable info collected. This service is used to get an idea of what kind of users visit the site, what devices & browsers the site should support, and general traffic patterns. If you do not wish to have Google collect this data from you, you should probably just stop using the internet. Continued use of this site denotes your acceptance of this privacy policy.
</div>
